<mat-tab-group>
  <mat-tab label="Backlog {{getBacklogCounter()}}">
    <app-tasks-organizer
        [bucketsvc]="getBacklogService()">
    </app-tasks-organizer>
  </mat-tab>
  <mat-tab label="Next {{getNextCounter()}}">
    <app-tasks-organizer [bucketsvc]="getNextService()"></app-tasks-organizer>
  </mat-tab>
  <mat-tab label="In Progress {{getInProgressCounter()}}">
    <app-tasks-table [bucketsvc]="getInProgressService()"></app-tasks-table>
  </mat-tab>
  <mat-tab label="Done {{getDoneCounter()}}">
    <app-tasks-table [bucketsvc]="getDoneService()"></app-tasks-table>
  </mat-tab>
</mat-tab-group>
