<div class="mat-elevation-z8">
  <table mat-table class="full-width-table" matSort aria-label="Elements">

    <!-- Info Icons -->
    <ng-container matColumnDef="icons">
      <th mat-header-cell *matHeaderCellDef mat-sort-header>Info</th>
      <td mat-cell *matCellDef="let row">
        <ng-container *ngIf="!!row.source_info_icons">
          <ng-container  *ngFor="let icon of row.source_info_icons">
            <mat-icon *ngIf="icon.svg" svgIcon="{{icon.icon}}"></mat-icon>
            <mat-icon *ngIf="!icon.svg">{{icon.icon}}</mat-icon>
          </ng-container>
        </ng-container>
      </td>
    </ng-container>
    <!-- Id Column -->
    <ng-container matColumnDef="id">
      <th mat-header-cell *matHeaderCellDef mat-sort-header>Id</th>
      <td mat-cell *matCellDef="let row">{{row.uuid}}</td>
    </ng-container>

    <!-- Title Column -->
    <ng-container matColumnDef="title">
      <th mat-header-cell *matHeaderCellDef mat-sort-header>Title</th>
      <td mat-cell *matCellDef="let row">{{row.title}}</td>
    </ng-container>

    <!-- Updated At-->
    <ng-container matColumnDef="updated_at">
      <th mat-header-cell *matHeaderCellDef mat-sort-header>Updated At</th>
      <td mat-cell *matCellDef="let row">{{row.updated_at}}</td>
    </ng-container>

    <!-- Priority -->
    <ng-container matColumnDef="priority">
      <th mat-header-cell *matHeaderCellDef mat-sort-header>Priority</th>
      <td mat-cell *matCellDef="let row">{{row.priority}}</td>
    </ng-container>

    <!-- Actions -->
    <ng-container matColumnDef="actions">
      <th mat-header-cell *matHeaderCellDef mat-sort-header>Actions</th>
      <td mat-cell *matCellDef="let row">
        <button mat-icon-button (click)="markDone(row)">
          <mat-icon>check_circle</mat-icon>
        </button>
        <button mat-icon-button (click)="ignoreTask(row)">
          <mat-icon>cancel</mat-icon>
        </button>
        <button *ngIf="hasNext()"
          mat-icon-button (click)="onMoveNext(row)">
          <mat-icon>redo</mat-icon>
        </button>
      </td>
    </ng-container>


    <tr mat-header-row *matHeaderRowDef="displayedColumns"></tr>
    <tr mat-row *matRowDef="let row; columns: displayedColumns;"></tr>
  </table>

  <mat-paginator #paginator
      [length]="dataSource?.tasks.length"
      [pageIndex]="0"
      [pageSize]="num_items"
      [pageSizeOptions]="[25, 50, 100, 250]">
  </mat-paginator>
</div>
