<mat-sidenav-container class="sidenav-container" autosize>
  <mat-sidenav #drawer class="sidenav" fixedInViewport
      [attr.role]="(isHandset$ | async) ? 'dialog' : 'navigation'"
      [mode]="(isHandset$ | async) ? 'over' : 'side'"
      [opened]="(isHandset$ | async) === false"
      >
    <div fxLayout="column" fxLayoutAlign="space-between" class="sidenav-menu">
      <!-- sidenav toolbar / header -->
      <mat-toolbar>
        <button
          class="menu-header-button"
          type="button"
          aria-label="Expand sidebar menu"
          mat-icon-button
          (click)="toggleMenu()"
          *ngIf="!(isHandset$ | async)">
          <mat-icon>menu</mat-icon>
        </button>
        <span
          [class.expanded-sidenav]="isExpanded()" *ngIf="isExpanded()">Menu</span>
      </mat-toolbar>

      <!-- menu items -->
      <mat-nav-list>
        <a mat-list-item routerLinkActive="active" routerLink="/tabs">
          <mat-icon>all_inbox</mat-icon>
          <span class="menu-item" *ngIf="isExpanded()">Tasks</span>
        </a>
        <a mat-list-item href="#">
          <mat-icon>analytics</mat-icon>
          <span class="menu-item" *ngIf="isExpanded()">Analytics</span>
        </a>
        <a mat-list-item href="#">
          <mat-icon>pending_actions</mat-icon>
          <span class="menu-item" *ngIf="isExpanded()">Reports</span>
        </a>
      </mat-nav-list>
      <!-- spacer -->
      <!-- <span style="height: 100vh"></span> -->
      <span class="sidenav-menu-spacer"></span>
      <!-- menu footer -->
      <div>
        <mat-divider></mat-divider>
        <!-- settings menu -->
        <mat-toolbar>
          <button
            class="menu-header-button"
            type="button"
            aria-label="Expand settings menu"
            mat-icon-button
            (click)="toggleSettings()">
            <mat-icon>settings</mat-icon>
          </button>
          <span [class.expanded-sidenav]="isExpanded()" *ngIf="isExpanded()">Settings</span>
        </mat-toolbar>
        <mat-nav-list *ngIf="isSettingsExpanded()">
          <a mat-list-item href="#">
            <mat-icon>build</mat-icon>
            <span class="menu-item" *ngIf="isExpanded()">Config</span>
          </a>
          <a mat-list-item href="#">
            <mat-icon>code</mat-icon>
            <span class="menu-item" *ngIf="isExpanded()">Integrations</span>
          </a>
        </mat-nav-list>
      </div>
    </div>
  </mat-sidenav>
  <mat-sidenav-content>
    <mat-toolbar color="primary">
      <button
        type="button"
        aria-label="Toggle sidenav"
        mat-icon-button
        (click)="drawer.toggle()"
        *ngIf="isHandset$ | async">
        <mat-icon aria-label="Side nav toggle icon">menu</mat-icon>
      </button>
      <span>Dashboard</span>
    </mat-toolbar>
    <!-- Add Content Here -->
    <router-outlet></router-outlet>
  </mat-sidenav-content>
</mat-sidenav-container>
